<ion-view title="Absensi" ng-init="scanCode()"  on-swipe-right="onSwipeRight()">
    <ion-content padding="true">
        <div class="spacer" style="height: 50px;"></div>
        <button class="button button-block button-positive" ng-click="scanCode()">
          Scan QR Code
        </button>
    </ion-content>
    <ion-footer-bar class="bar-transparent">
      <h5 class="title">Copyright &copy; 2015 dTrack</h5>
    </ion-footer-bar>
</ion-view>