<ion-view title="Home" ng-init="init()">
    <ion-content padding="true">
        <div class="spacer" style="height: 50px;"></div>
        <div class="logo">
            <img src="img/logo.png" alt="dTrackr">
            <p>Dashboard</p>
        </div>
        <div class="spacer" style="height: 50px;"></div>
        <div class="row">
            <div class="col col-50" align="center">
                <a class="button button-icon" ng-click="absensi()" ng-class="{disabled: isAbsensiOk}">
                    <i class="icon dtrackr-dash icon ion-ios-clock-outline"></i>
                    <p align="center">Check-in</p>
                    
                </a>
            </div>
            <div class="col col-50" align="center">
                <a class="button button-icon" ng-click="registrasiData()" ng-class="{disabled: !isAbsensiOk}">
                    <i class="icon dtrackr-dash icon ion-ios-list-outline"></i>
                    <p align="center">Registration</p>
                </a>
            </div>
        </div>
        <div class="spacer" style="height: 25px;"></div>
        <div class="row">
            <div class="col col-50" align="center">
                <a class="button button-icon" ng-class="{disabled: (datacount <= 0)}" ng-click="syncronize()">
                    <span class="badge badge-assertive" ng-show="datacount > 0">{{datacount}}</span>
                    <i class="icon dtrackr-dash icon ion-ios-cloud-upload-outline"></i>
                    <p align="center">Synchronization</p>
                </a>
            </div>
            <div class="col col-50" align="center">
                <a class="button button-icon" ng-click="logout()">
                    <i class="icon dtrackr-dash icon ion-ios-locked-outline"></i>
                    <p align="center">Logout</p>
                </a>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-transparent">
      <h5 class="title">Copyright &copy; 2015 dTrack</h5>
    </ion-footer-bar>
</ion-view>