<div class="row">
    <div class="col" align="center">
        <a class="button button-icon">
            <i class="icon dtrackr-dash icon ion-load-a"></i>
            <p align="center">Sinkronisasi Data</p>
        </a>
         <p>Melakukan sinkronisasi</p>                   
    </div>
</div>
    
