<!-- <ion-view hide-nav-bar="true"> -->
<ion-view title="Login" ng-init="init()">
    <ion-content padding="true">
        <div class="spacer" style="height: 50px;"></div>
        <div class="logo">
            <img src="img/logo.png" alt="dTrackr">
        </div>
        <div class="spacer" style="height: 10px;"></div>
        <div class="row">
            <div class="col">
                <form class="form-login" name="loginForm" ng-submit="login(loginForm.$valid)"  novalidate>
                    <ion-list>
                        <label class="item item-input item-light">
                            <!-- <span class="input-label">Username</span> -->
                            <input ng-model="data.username" name="username" ng-class="data.username.length" type="text" placeholder="Username" ng-minlength="3" required />
                            <p ng-show="loginForm.username.$error.required && !loginForm.username.$pristine">Required.</p>
                            <p ng-show="loginForm.username.$error.minlength" class="help-block">Minimum 3 characters.</p>
                        </label>
                        <label class="item item-input item-light">
                            <!-- <span class="input-label">Password</span> -->
                            <input ng-model="data.password" type="password" name="password" placeholder="Password"  ng-minlength="3" required />
                            <p ng-show="loginForm.password.$error.required && !loginForm.password.$pristine">Required.</p>
                            <p ng-show="loginForm.password.$error.minlength" class="help-block">Minimum 3 characters.</p>
                        </label>
                    </ion-list>
                    <div class="spacer" style="height: 40px;"></div>
                    <button class="button button-positive button-block" ng-disabled="loginForm.$invalid">Log in</button>
                </form>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-transparent">
      <h5 class="title">Copyright &copy; 2015 dTrack</h5>
    </ion-footer-bar>
</ion-view>