<ion-view title="Registrasi Data" on-swipe-right="onSwipeRight()" ng-init="init()">
    <ion-content padding="true">
        <div class="spacer" style="height: 50px;"></div>
        <div class="logo">
            <img src="img/logo.png" alt="dTrackr">
            <p>Form</p>
        </div>        
        <div class="row">
            <div class="col">
                <form class="form-login" name="registrationForm" ng-submit="register(registrationForm.$valid)"  novalidate >
                    <ion-list>
                        <label class="item item-input item-light item-floating-label">
                            <span class="input-label">Name</span>
                            <input ng-model="data.nama" name="nama" type="text" placeholder="Name" ng-minlength="3" required>
                            <!--<p ng-show="registrationForm.nama.$invalid && !registrationForm.nama.$pristine" class="help-block">Nama harus diisi.</p>-->
                            <p ng-show="registrationForm.nama.$error.required && !registrationForm.nama.$pristine">The Name is required.</p>
                            <p ng-show="registrationForm.nama.$error.minlength" class="help-block">Minimum 3 characters required.</p>
                        </label>
                        <label class="item item-input item-light item-floating-label">
                            <span class="input-label">NIK</span>
                            <input ng-model="data.nik" name="nik" type="text" placeholder="NIK" required>
                            <p ng-show="registrationForm.nik.$invalid && !registrationForm.nik.$pristine" class="help-block">The NIK is required.</p>
                        </label>
                        <label class="item item-input item-light item-floating-label">
                            <span class="input-label">Address</span>
                            <input ng-model="data.alamat" name="alamat" type="text" placeholder="Address" required>
                            <p ng-show="registrationForm.alamat.$invalid && !registrationForm.alamat.$pristine" class="help-block">The Address is required.</p>
                        </label>
                        <label class="item item-input item-light item-floating-label">
                            <span class="input-label">Mobile Phone</span>
                            <input ng-model="data.noHandphone" name="handphone" type="text" placeholder="Mobile Phone" required>
                            <p ng-show="registrationForm.handphone.$invalid && !registrationForm.handphone.$pristine" class="help-block">The Mobile Phone is required.</p>
                        </label>
                        <label class="item item-input item-light item-floating-label">
                            <span class="input-label">Email</span>
                            <input ng-model="data.email" name="email" type="email" placeholder="Email" required>
                            <p ng-show="registrationForm.email.$invalid && !registrationForm.email.$pristine" class="help-block">The Email is not valid.</p>
                        </label>
                        <label class="item item-input item-light item-floating-label">
                            <span class="input-label">Occupation</span>
                            <input ng-model="data.pekerjaan" name="pekerjaan" type="text" placeholder="Occupation" required>
                            <p ng-show="registrationForm.pekerjaan.$invalid && !registrationForm.pekerjaan.$pristine" class="help-block">The Occupation is required.</p>
                        </label>
                        <div> 
                            <label class="item item-input item-light item-floating-label">
                            <span class="input-label">Signature</span>
                            <!--<canvas id='signatureCanvasx' width='250' height='100' style="background-color:white;
                                margin:20px auto;
                                border: 1px solid gray;
                                background-color:white;">
                            </canvas>-->
                                <div id="sign-image"></div>
                            </label>
                            <a href="#" class="button button-positive button-block" ng-click="tandaTangan()">Signature</a>
                        </div>
                    </ion-list>
                    <div class="spacer" style="height: 40px;"></div>
                    <input type="hidden" name="x" value="{{ data.x }}" />
                    <input type="hidden" name="token" value="{{ data.token }}" />
                    <input type="hidden" name="signature" id="signature" value="{{ data.image }}"/>
                    <button type="submit" class="button button-positive button-block" ng-disabled="registrationForm.$invalid">Submit</button>

<!--                    <button class="button button-positive button-block" ng-click="simpan(data)">Simpan</button>-->
                </form>

<!--
                <pre>
                    {{ data }}
                </pre>
-->

            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-transparent">
      <h5 class="title">Copyright &copy; 2015 dTrack</h5>
    </ion-footer-bar>
</ion-view>