<ion-view title="Home" ng-init="syncronize()" on-swipe-right="onSwipeRight()">
    <ion-content padding="true">
        <div class="spacer" style="height: 50px;"></div>
        <div class="logo">
            <img src="img/logo.png" alt="dTrackr">
            <p>Syncronize</p>
        </div>
        <div class="spacer" style="height: 50px;"></div>
        <div class="row" style="color:white">
            <div class="col" align="center" ng-show="{{ !empty }}">
                 <p>There are {{ datacount }} data that has not been synchronized.</p>                   
            </div>
            <div class="col" align="center" ng-show="{{ empty }}">
                 <p>All the data has been successfully synchronized.</p>                   
            </div>
        </div>

        <div class="row">
            <div class="col" align="center">
                 <a href="#" class="button button-positive" ng-click="syncronize()"k>
                     Synchronize
                 </a>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-transparent">
      <h5 class="title">Copyright &copy; 2015 dTrack</h5>
    </ion-footer-bar>
</ion-view>