<ion-view view-title="Location">
    <ion-content padding="true">
  <fancy-select
                allow-empty='false'
                value="user.country.id"
                text="Country"
                header-text="Choose country"
                items="countries">
            </fancy-select>

            <label class="item item-select" name="region">
                <span class="input-label">Region</span>
                <select class="item-select">
                  <option value="sumut">Sumatera Utara</option>}
                  <option value="sulut">Sulawesi Utara</option>}
                  <option value="jateng">Jawa Tengah</option>}
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Area</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">DSO</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Venue</span>
                <select></select>
            </label>
            <label class="item item-input">
                <span class="input-label">Other Venue</span>
                <input type="text" placeholder="type your venue">
            </label>
        </form>
        <a href="#/login" class="button button-positive button-block">Enter</a>
  </ion-content>
</ion-view>
