/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// $dark:                            #47C8DF !default;
// $light:                           #fff !default;
$positive:                        #47C8DF !default;
$stable:                          rgb(47, 65, 89) !default;
$button-stable-text:              #47C8DF !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.login{
    margin-top: 10em;
}
.logo{
    text-align: center;
    color:lighten(#ffc900, 40);
    img{
        height: auto;
        width: 50%;
    }
}
.view-container .pane{
    background: #2F4159;
// background: rgba(75,107,148,1);
// background: -moz-radial-gradient(center, ellipse cover, rgba(75,107,148,1) 0%, rgba(47,65,89,1) 100%);
// background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(75,107,148,1)), color-stop(100%, rgba(47,65,89,1)));
// background: -webkit-radial-gradient(center, ellipse cover, rgba(75,107,148,1) 0%, rgba(47,65,89,1) 100%);
// background: -o-radial-gradient(center, ellipse cover, rgba(75,107,148,1) 0%, rgba(47,65,89,1) 100%);
// background: -ms-radial-gradient(center, ellipse cover, rgba(75,107,148,1) 0%, rgba(47,65,89,1) 100%);
// background: radial-gradient(ellipse at center, rgba(75,107,148,1) 0%, rgba(47,65,89,1) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6b94', endColorstr='#2f4159', GradientType=1 );
}
.form-login{
    .item{
        background: transparent;
        border: none;
        border-bottom: 1px solid #435A79;
        input{
            color: #5981B5;
        }
        input.error::-webkit-input-placeholder {
          color: red ;
        }
        input.error:-moz-placeholder {
          color: red ;
        }
        input.error:-ms-input-placeholder { 
          color: red ;
        }
        .input-label{
          color:#ffffff;
        }
    }
}
input::-webkit-input-placeholder {
  color: #5981B5 ;
}
input:-moz-placeholder {
  color: #5981B5 ;
}
input:-ms-input-placeholder { /* IE10+ */
  color: #5981B5 ;
}

ion-tabs.tabs-color-active-positive .tab-item{
    color: #efefef;
}
.bar-transparent{
  background-color: #2F4159;
  .title{
    font-size: 1em;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    color: lighten(#2F4159, 20);
    text-align: center;
    display: block;
  }
}
.dtrack-clock{
  background: transparent url('../img/absensi.png') no-repeat;
}
.button{
  img{
    width: 50%;
    height: auto;
  }
}
.hr-positive{
  border-top: 1px solid #47C8DF;
  border-bottom: 1px solid #47C8DF;
}
.button-icon{
  font-size: 12px;
  .dtrackr-dash{
    &:before{
      font-size: 80px;
      line-height: 1em;
    }
  }
  line-height: 1em;
}
// a.button.button-icon.disabled {
//   color: rgba(255, 255, 255, 0);
//   text-shadow: 0px 0px 3px rgba(255,255,255,1);
// }
.button .badge {
  position: absolute;
}

