/* Empty. Add your own CSS if you like */
/* signature */
#sign-image{
    text-align:center;
}
#sign-image img{
    background-color:#fff;
}

#sign-ion-modal-view{
    background-color: #2F4159;
    
}

#sign-ion-modal-view.modal{
    min-height:50px;
    height:265px;
}

@media (min-width: 680px){
    .modal {
        min-height: 50px;
    }
}

#sign-ion-modal-view ion-header-bar{
    background-color:#2F4159;
}

#sign-ion-modal-view ion-header-bar h1{
    color:#fff;
}

#sign-ion-modal-view ion-content{
    text-align:center;
    height:215px;
}

#sign-ion-modal-view ion-content button.button-positive{
    width:98%;
    margin:0 auto;
}